/* font stack */
:root {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
  font-feature-settings:
    "calt" 1,
    "dlig" 1,
    "case" 1,
    "ccmp" 1,
    "salt" 1,
    "ss02" 1,
    "ss03" 1;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family:
      InterVariable,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      sans-serif;
  }
}

:root {
  --fontstack-header: "Rosario", Inter, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  --fontstack-mono: "0xProto", monospace;
}

/* color vars */
@media (prefers-color-scheme: light) {
  :root {
    --color-black: #0e1019;
    --color-white: #fffaf4;
    --color-grey: #232323;
    --color-silver: #5a5a5a;
    --color-purple: #6d43a6;
    --color-magenta: #8951d6;
    --color-red: #d61f17;
    --color-orange: #ea0715;
    --color-yellow: #c78900;
    --color-lime: #81cc0f;
    --color-green: #4c7e00;
    --color-cyan: #02adbd;
    --color-sky: #0283e5;
    --color-blue: #056dbc;

    --color-fg: var(--color-black);
    --color-bg: var(--color-white);

    --color-linkedin: var(--color-blue);
    --color-github: var(--color-black);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-black: #0e1019;
    --color-white: #fffaf4;
    --color-grey: #232323;
    --color-silver: #444444;
    --color-purple: #9a5feb;
    --color-magenta: #e67bf7;
    --color-red: #ff000f;
    --color-orange: #f87810;
    --color-yellow: #ffb900;
    --color-lime: #8ce10b;
    --color-green: #0eb75b;
    --color-cyan: #99d8eb;
    --color-sky: #4dbcff;
    --color-blue: #0092ff;

    --color-fg: var(--color-white);
    --color-bg: var(--color-black);

    --color-linkedin: var(--color-blue);
    --color-github: var(--color-white);
  }
}

/* base styling */
body {
  color: var(--color-fg);
  background: var(--color-bg);

  font-variant-numeric: oldstyle-nums;
  font-size: 14pt;

  max-width: 60vw;
  margin: auto;
}

/* heading styling */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontstack-header);
}

h1 {
  font-size: 28pt;
  text-align: left;
}

h2 {
  font-size: 22pt;
  text-align: left;
}

h3 {
  font-size: 18pt;
  text-align: left;
}

h4 {
  font-size: 16pt;
  text-align: left;
}

h5 {
  font-size: 15pt;
  text-align: left;
}

h6 {
  font-size: 14pt;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 2.5ex;
}

/* body copy styling */
p {
  max-width: 65vw;
  margin-left: 1em;
}

.columned p {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}

p {
  font-variant-numeric: oldstyle-nums;
  hyphens: auto;

  margin-top: 0;
  margin-bottom: 25px;
}

/* raw text styling */
pre {
  font-family: var(--fontstack-mono);
  font-feature-settings:
    "calt" 1,
    "dlig" 1,
    "liga" 1,
    "ss01" 1;
}

/* list styling */
.linkbar {
  list-style: none;

  font-family: var(--fontstack-header);
  font-size: 14pt;

  display: flex;
  justify-content: center;
  gap: 10pt;
}

/* gallery styling */
.gallery {
  list-style: none;
  max-height: 70vh;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 5px;
}

.gallery a {
  text-decoration: none;
  hyphens: manual;

  width: 33%;
  width: calc(100% / 3 - 10px);
  padding: 10px 10px 36pt 10px;
  border-radius: 5px;

  border: 1px solid #0008;
  border-bottom-width: 2px;
  color: var(--color-fg);

}

.gallery > a > li > p {
  margin: 0;
  hyphens: manual;
}

/* body footer styling */
body footer {
  margin: auto;
  text-align: center;
}

/* sticky nav */
nav {
  position: sticky;
  top: 0;

  width: 100%;
  padding-top: 1pt;

  background: var(--color-bg);

}

/* details control */
details {
  cursor: pointer;
}

details p, details h1, details h2, details h3, details h4, details h5, details h6 {
  cursor: text;
}
