@font-face {
  font-family: "jostbold_italic";
  src: url("../webfonts/jost-700-bolditalic-webfont.woff2") format("woff2"), url("../webfonts/jost-700-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "jostbold";
  src: url("../webfonts/jost-700-bold-webfont.woff2") format("woff2"), url("../webfonts/jost-700-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "jostitalic";
  src: url("../webfonts/jost-400-bookitalic-webfont.woff2") format("woff2"), url("../webfonts/jost-400-bookitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "jostregular";
  src: url("../webfonts/jost-400-book-webfont.woff2") format("woff2"), url("../webfonts/jost-400-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: sans-serif;
}

h1 {
  font-family: "jostregular";
}

.content {
  display: flex;
  justify-content: center;
}

.navbar > a {
  padding: 10px 20px;
  color: black;
}

.projectArray {
  display: grid;
  max-width: 75%;
  grid-template-columns: 1fr 1fr 1fr;
}

.projectCard {
  margin: 10px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 5px;
}
