:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;

    background: var(--sitetheme-bg);
    color: var(--sitetheme-text);
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

h1 {
    font-family: 'jostregular', sans-serif;
    text-transform: uppercase;
}

a {
    text-decoration-line: none;
}

body {
    margin: 0px;

    & > .content {
        padding: 0px 5vw;
    }
}
