@font-face {
	font-family: 'Rosario';
	src: url('/fonts/Rosario/eot/Rosario-Light.eot');
	src: url('/fonts/Rosario/eot/Rosario-Light.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/Rosario/woff2/Rosario-Light.woff2') format('woff2'),
		 url('/fonts/Rosario/woff/Rosario-Light.woff') format('woff'),
		 url('/fonts/Rosario/ttf/Rosario-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'Rosario';
	src: url('/fonts/Rosario/eot/Rosario-LightItalic.eot');
	src: url('/fonts/Rosario/eot/Rosario-LightItalic.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/Rosario/woff2/Rosario-LightItalic.woff2') format('woff2'),
		 url('/fonts/Rosario/woff/Rosario-LightItalic.woff') format('woff'),
		 url('/fonts/Rosario/ttf/Rosario-LightItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 300;
}
@font-face {
	font-family: 'Rosario';
	src: url('/fonts/Rosario/eot/Rosario-Regular.eot');
	src: url('/fonts/Rosario/eot/Rosario-Regular.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/Rosario/woff2/Rosario-Regular.woff2') format('woff2'),
		 url('/fonts/Rosario/woff/Rosario-Regular.woff') format('woff'),
		 url('/fonts/Rosario/ttf/Rosario-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Rosario';
	src: url('/fonts/Rosario/eot/Rosario-Italic.eot');
	src: url('/fonts/Rosario/eot/Rosario-Italic.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/Rosario/woff2/Rosario-Italic.woff2') format('woff2'),
		 url('/fonts/Rosario/woff/Rosario-Italic.woff') format('woff'),
		 url('/fonts/Rosario/ttf/Rosario-Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: 400;
}
@font-face {
	font-family: 'Rosario';
	src: url('/fonts/Rosario/eot/Rosario-SemiBold.eot');
	src: url('/fonts/Rosario/eot/Rosario-SemiBold.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/Rosario/woff2/Rosario-SemiBold.woff2') format('woff2'),
		 url('/fonts/Rosario/woff/Rosario-SemiBold.woff') format('woff'),
		 url('/fonts/Rosario/ttf/Rosario-SemiBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: 'Rosario';
	src: url('/fonts/Rosario/eot/Rosario-SemiBoldItalic.eot');
	src: url('/fonts/Rosario/eot/Rosario-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/Rosario/woff2/Rosario-SemiBoldItalic.woff2') format('woff2'),
		 url('/fonts/Rosario/woff/Rosario-SemiBoldItalic.woff') format('woff'),
		 url('/fonts/Rosario/ttf/Rosario-SemiBoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 600;
}
@font-face { font-family: 'Rosario';
	src: url('/fonts/Rosario/eot/Rosario-Bold.eot');
	src: url('/fonts/Rosario/eot/Rosario-Bold.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/Rosario/woff2/Rosario-Bold.woff2') format('woff2'),
		 url('/fonts/Rosario/woff/Rosario-Bold.woff') format('woff'),
		 url('/fonts/Rosario/ttf/Rosario-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'Rosario';
	src: url('/fonts/Rosario/eot/Rosario-BoldItalic.eot');
	src: url('/fonts/Rosario/eot/Rosario-BoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/Rosario/woff2/Rosario-BoldItalic.woff2') format('woff2'),
		 url('/fonts/Rosario/woff/Rosario-BoldItalic.woff') format('woff'),
		 url('/fonts/Rosario/ttf/Rosario-BoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 700;
}

@font-face {
    font-family: 'Jost';
    src: url('/fonts/Jost/OpenType/Jost-400-Book.otf');
    font-style: normal;
    font-weight: 400;
}

body {
    font-family: "Rosario", serif;
    hyphens: auto;
}

h1, h2, h3 {
    font-family: "Jost", "Rosario", serif;
    margin-top: 2rem;
    margin-bottom: 0;
}

h1, h2 {
    letter-spacing: 1pt;
}

h3 {
    letter-spacing: 0.65pt;
}

a, p, li {
  min-height: 1rem;
}

p, ul, ol {
  margin: 0 0 1rem 0;
}

abbr {
    font-variant: small-caps;
}
