@use "colors.scss";
@use "typography.scss";

@use "link.scss";
@use "abbr.scss";
@use "button.scss";
@use "list.scss";

@use "card.scss";
@use "navmenu.scss";

body {
    color: var(--fg-color);
    background-color: var(--bg-l1-color);

    max-width: 600pt;
    margin: auto;
    padding: 0 20pt;
}

img {
  border: 8pt solid white;
  outline: 1pt solid color-mix(in srgb, black, transparent 85%);
  box-shadow: 0 1pt 4pt color-mix(in srgb, black, transparent 85%);
  box-shadow: 0 1pt 4pt 1pt color-mix(in srgb, black, transparent 85%);
}
