@use "colors.scss";
@use "typography.scss";

@use "abbr.scss";
@use "button.scss";
@use "figure.scss";
@use "link.scss";
@use "list.scss";

@use "card.scss";
@use "navmenu.scss";

@use "fontawesome.scss";

body {
    color: var(--fg-color);
    background-color: var(--bg-l1-color);

    max-width: 600pt;
    margin: auto;
    padding: 0 20pt;
}

img {
  background-clip: border-box;

  margin: 0.5rem 0;

  border: 8pt solid white;
  outline: 1px solid var(--border-color);
  box-shadow: 0 1pt 1pt color-mix(in srgb, black, transparent 85%), 0 1pt 1pt 1pt color-mix(in srgb, black, transparent 85%);
}

ul > details {
  display: list-item;
  list-style: none;
  margin-left: -1em;

  transition: all 200ms;

  & summary {
    cursor: pointer;
    text-indent: 1em hanging;
  }

  & p {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: smaller;
  }
}

section {
  margin: 0 0 2rem 0;
}

.project-title {
  display: inline-block;
  margin-right: 1rem;
}

.category-code {
  color: var(--category-code-color);
}

.category-design {
  color: var(--category-design-color);
}
