.horizontal-paned {
    display: grid;
    grid: auto / 1fr 1fr;

    min-width: 200pt;

    &.start-child {
        position: sticky;
        top: 16pt;

        grid-column: 1 / 2;
    }

    &.end-child {
        grid-column: 2 / 3;
    }
}
