@media (min-width: 800pt) {
  .horizontal-paned {
    display: grid;
    grid: auto / 1fr 1fr;

    min-width: 200pt;

    & .start-child {
      position: sticky;

      grid-column: 1 / 2;
    }

    & .end-child {
      // Align headings on baseline
      margin-top: 10pt;
      grid-column: 2 / 3;
    }
  }
}
