@media (min-width: 700pt) {
  .horizontal-paned {
    display: grid;
    grid: auto / 1fr 2fr;
    align-items: start;
    column-gap: 30pt;

    min-width: 200pt;

    & .start-child {
      position: sticky;
      top: 0;

      grid-column: 1 / 2;
    }

    & .end-child {
      // Align headings on baseline
      margin-top: 0.5rem;
      grid-column: 2 / 3;
    }
  }
}
