<a class="external wdgf-evi6" id="github" href="https://github.com/wpkelso">wpkelso</a>
<a class="external wdgf-evi6" id="mastodon" href="https://mastodon.online/@mirlo">mirlo</a>

<style class="wdgf-evi6">.wdgf-evi6 a{display:block;width:fit-content;position:relative;left:-1em}.wdgf-evi6 a::before{font:var(--fa-font-brands);display:inline-block;position:relative;left:-0.5em;text-rendering:auto;-webkit-font-smoothing:antialiased}.wdgf-evi6 #github::before{content:""}.wdgf-evi6 #mastodon::before{content:""}</style>
