<a class="external w6sn5krn6" id="github" href="https://github.com/wpkelso">wpkelso</a>
<a class="external w6sn5krn6" id="mastodon" href="https://mastodon.online/@mirlo">mirlo</a>

<style class="w6sn5krn6">.w6sn5krn6{margin:1rem 0}.w6sn5krn6 a{display:block;width:fit-content;position:relative;left:-1em}.w6sn5krn6 a::before{font:var(--fa-font-brands);display:inline-block;position:relative;left:-0.5em;text-rendering:auto;-webkit-font-smoothing:antialiased}.w6sn5krn6 #github::before{content:""}.w6sn5krn6 #mastodon::before{content:""}</style>
