.projectArray {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: stretch;
    align-items: stretch;
    gap: 10px 10px;

    margin: 15px;
}

.projectArray > a {
    padding: 5px 10px;
}

.projectCard {
    display: grid;
    height: 100%;
    width: 100%;

    grid-template-columns: [tagColor] 15px [information] auto;
    grid-template-rows: 1fr;
    grid-template-areas: "color" "content";

    column-gap: 10px;

    color: black;
    background: white;
    text-decoration: none;

    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 8px grey;
    overflow: clip;

    &:hover {
        background: silver;
        color: white;
    }
}

.projectCard > .tag {
    width: 100%;
    height: 100%;
}
