.navbar {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 0 auto;
    max-width: 100%;
    margin-left: 10%;
}

.navbar > a {
    padding: 10px 20px;
    color: black;
    border-radius: 5px;

    &.current {
        background: var(--cobalt);
        color: white;
    }

    &:hover {
        background: silver;
        color: white;
    }
}
