.titlebar {
    display: grid;
    grid-template-columns: [site-title] max-content [page-title] max-content auto [social-icons] max-content;
    grid-template-rows: auto;
    justify-items: stretch;
    align-items: center;
    padding: 0px 5vw;
    color: var(--sitetheme-text);

    width: 1fr;

    font-size: 8pt;
    letter-spacing: 2px;

    & > h1 {
        text-transform: uppercase;
    }

    & > h2 {
        text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
    }

    & ul {
        padding: 0px;
        list-style-type: none;
        grid-column-start: 4;
    }
}

.social-icon {
    display: inline-block;
    height: 25px;
    max-height: 25px;
    width: 25px;
    max-width: 25px;
    padding: 10px;

    &#mastodon {
        color: var(--color-db26);
    }

    &#github {
        color: var(--color-db01);
    }

    &:hover {
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.25);
    }
}
